<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Archive</title>

    <link href="/webapp/css/styles.css" rel="stylesheet">
</head>
<body>
<div id="playerApp">
    <div class="pageHeader">
        <div class="pageHeaderTitle">
            <div class="centered-content">
                <h1>Music Archive</h1>

                <div class="pageHeaderBreadcrumb">
                    <ul>
                        <li>Home</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="pageHeaderSubnav">
            <div class="centered-content">
                <ul>
                    <li><a href="index.html">Favorites</a></li>
                    <li class="pageHeaderSubnavActive">Playlists</li>
                    <li><a href="/collections.html">Collections</a></li>
                    <li><a href="/albums.html">Albums</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="pageContent">
        <div class="centered-content">
            <div class="centered-content listing playlist-listing">
                <table class="centered-content listing playlist-listing">
                    <thead>
                    <tr>
                        <th>Title</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for playlist in playlists -%}
                    <tr>
                        <td>
                            <a href="/playlists/{{playlist.title}}.html">{{playlist.title}}</a>
                        </td>
                    </tr>
                    {%- endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>